.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sidenav-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidenav a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: var(--accent-color);
    color: var(--background);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
    padding: 0 0;
}

.openbtn {
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--sidenav-color);
    color: var(--text-color);
    padding: 0 0;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.openbtn:hover {
    background-color: var(--accent-color);
    color: var(--background);
}

:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --sidebar-color: #101114;
    --text-color: #F9F9F9;
    --sticky-note-bg: #00FFC4;
    --sticky-note-shadow: rgba(0, 0, 0, 0.2);
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form textarea, form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    cursor: pointer;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

ul li {
    position: relative;
    background-color: var(--sticky-note-bg);
    color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 15px var(--sticky-note-shadow);
    transition: transform 0.2s, box-shadow 0.2s;
}

ul li:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px var(--sticky-note-shadow);
}

ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

ul li h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul li p {
    font-size: 1rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

ul li button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.2rem;
}
